# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
build/
dist/
*.egg-info/

# Test and coverage
.pytest_cache/
.coverage
htmlcov/

# OS-specific
.DS_Store
Thumbs.db

# Local environment files
.env
.env.*
!.env.examaple
config.yaml

# Docker
Dockerfile
.dockerignore
